* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: sans-serif;
	background-color: #e7e7e7;
}
.app {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem;
}

.app__header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 5rem;
	width: 100%;
}
#loader {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	z-index: 99;
}

#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0.5rem;
	/* color: #f8f9fa; */
}
.cov {
	animation: spin 4s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#places {
	font-size: 1.1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
}
.app__stats {
	display: flex;
	justify-content: space-between;
}
.infoCard {
	flex: 1;
	background-color: #fff;
	margin-bottom: 1rem;
	box-shadow: 0 3px 3px rgb(107, 107, 107);
	padding: 0.5rem;
	border-radius: 5px;
}
.infoCard:not(:last-child) {
	margin-right: 0.9rem;
}
.infoCard__title,
.infoCard__total {
	color: gray;
}
.infoCard__cases {
	font-weight: 600;
	margin: 0.5rem 0;
}
#map {
	height: 500px;
	margin-bottom: 1rem;
	/* padding: 1rem; */
	border: 15px solid white;
	border-radius: 5px;
}
.leaflet-container {
	height: 100%;
}
.info__container {
	width: 150px;
	height: 150px;
}
.info__flag {
	height: 80px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 8px;
	border: 2px solid black;
}

.leaflet-popup-content p {
	margin: 0;
}
.info__name,
.info__confirmed,
.info__recovered,
.info__deaths {
	margin: 0.3rem auto 0;
	padding: 0;
}

.app__right {
	background-color: #ffffff;
	width: 100%;
	border-radius: 5px;
	margin: auto;
}
.app__right h3 {
	text-align: center;
	margin-top: 0.5rem;
}
.table {
	display: block;
	overflow-y: scroll;
	padding: 0.8rem;
	height: 25rem;
}
.table__flag {
	max-width: 20px;
	height: auto;
}
.table tr {
	display: flex;
	justify-content: space-between;
}
.table td {
	padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
	background-color: #dbd9d9;
}
@media (min-width: 760px) {
	.app__header {
		flex-direction: row;
		justify-content: space-between;
	}
}
@media (min-width: 900px) {
	.app {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}
	.app__left {
		width: 70%;
		height: 95vh;
	}
	#map {
		height: 78.8%;
	}
	.app__right {
		height: 95vh;
		width: 30%;
	}
	#table {
		height: 60vh;
	}
}
